@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">AOGPD Staff</h1>
    <hr />
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/mike_avatar.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">Mike</h2>
                    <h4 class="text text-primary">Owner</h4>
                    <h4 class="text text-success">Media Team</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/deputydrew.gif" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">Deputy Drew</h2>
                    <h4 class="text text-warning">Moderator</h4>
                    <h4 class="text text-success">Media Team</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/MOIGA.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">MOIGA</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/madsesby.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">Madsesby</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/FunkyDog.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">FunkyDog</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/klausen.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">Klausen</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/darkside.png" style="width: 150px; height: 150px; border-radius: 50%" />
                    <h2 style="color: white;">Darkside</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/elfaa.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">Elfaa</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/recon.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">recon</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/skwiller.png" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h2 style="color: white;">skwiller</h2>
                    <h4 class="text text-warning">Moderator</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card" style="color: #131E28; background-color: #131E28;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="~/wwwroot/images/captain rensei.gif" style="width: 150px; height: 150px; border-radius: 50%;" />
                    <h3 style="color: white;">Rensei</h3>
                    <h4 class="text text-danger">Website Developer</h4>
                    <h4 class="text text-success"><a href="https://rensei.date" target="_blank">Personal Website</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>