@{
    ViewData["Title"] = "No Data Found";
}

<div class="text-center">
    <h1 class="display-4">:(</h1>
    <hr />
    <h3 class="text text-info">The search result provided no data from our database.</h3>
    <h4 class="text text-info">Check that you haven't misspelled.</h4>
</div>