@model CivilianCharacter

@{
    ViewData["Title"] = "Civilian - AOGPD";
}

<div class="text-center">
    <h1 class="display-4">Civilian</h1>
    <hr />
    <form asp-action="civilian" enctype="multipart/form-data" method="post" class="mt-2">
        <fieldset><legend>Register</legend></fieldset>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" id="nameF" placeholder="Ex: John" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" id="nameL" placeholder="Ex: Doe" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date of Birth</label>
            <div class="col-sm-2">
                <input asp-for="DateofBirth" class="form-control" type="date" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Previous Citations</label>
            <div class="col-sm-2">
                <input asp-for="Citations" class="form-control" type="number" value="0" min="0" max="20" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text text-danger">Wanted</label>
            <div class="col-sm-2">
                <input asp-for="Wanted" class="form-control" type="checkbox" value="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a asp-action="Create"><input class="btn btn-success" id="registerCiv" type="submit" value="Register Civilian" /></a>
            </div>
            <label class="col-sm-2 col-form-label text text-success" id="succ" hidden>Successfully Registered!</label>
        </div>
    </form>
    <a asp-controller="civilian" asp-action="plate"><input id="VicButton" type="button" value="Register Vehicle" class="btn btn-warning" /></a>

    @section Scripts {
        <script>
            var x = document.getElementById("registerCiv");
            var y = document.getElementById("succ");
            x.onclick = function () {
                y.hidden = false;
            };
        </script>
    }
</div>