@model Dispatcher

@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">Dispatch Landing Page</h1>
    <hr />
    <h4 class="text text-warning">Successfully logged in!</h4>
</div>