@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">Choose Your Side</h1>
    <hr />
    <a asp-controller="civilian" asp-action="civilian"><input id="CivButton" type="button" value="Civilian" class="btn btn-success"/></a>
    <a asp-controller="police" asp-action="index"><input id="PoButton" type="button" value="Police" class="btn btn-primary"/></a>
</div>