@{
    ViewData["Title"] = "10-Codes";
}

<div class="text-center">
    <h1 class="display-4">Ten Codes</h1>
    <hr />
    <table class="table" style="background-color: #131E28; color: white;">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>