@{
    ViewData["Title"] = "10 Codes";
}

<div class="text-center">
    <h1 class="display-4">Ten Codes</h1>
    <hr />
    <table class="table" style="background-color: #131E28; color: white;">
        <thead>
            <tr>
                <th>
                    10 Code
                </th>
                <th>
                    Meaning
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text text-primary">
                    10-1
                </td>
                <td>
                    Move Unit To Another Channel
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-2
                </td>
                <td>
                    Signal Clear
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-3
                </td>
                <td>
                    Priority Traffic
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-4
                </td>
                <td>
                    Copy That
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-5
                </td>
                <td>
                    Stand-by
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-6
                </td>
                <td>
                    Busy Unless Emergency
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-7
                </td>
                <td>
                    Out of Service
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-8
                </td>
                <td>
                    In Service
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-9
                </td>
                <td>
                    Repeat Your Traffic
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-11
                </td>
                <td>
                    Traffic Stop
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-15
                </td>
                <td>
                    Suspect in Custody
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-20
                </td>
                <td>
                    Location
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-22
                </td>
                <td>
                    Disregard
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-24
                </td>
                <td>
                    Clear Call
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-42
                </td>
                <td>
                    Suspicious Person
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-43
                </td>
                <td>
                    DUI (Driving Under Influence)
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-48
                </td>
                <td>
                    Running Radar
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-50
                </td>
                <td>
                    Vehicle Collision
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-64
                </td>
                <td>
                    Status Check "Are you OK"
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-70
                </td>
                <td>
                    Foot Pursuit
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-74
                </td>
                <td>
                    Negative
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-80
                </td>
                <td>
                    Vehicle Pursuit
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-84
                </td>
                <td>
                    Stolen Vehicle
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-85
                </td>
                <td>
                    Wanted Person
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-96
                </td>
                <td>
                    En Route
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-97
                </td>
                <td>
                    Arrived At Scene / On Scene
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    10-98
                </td>
                <td>
                    Finished Last Assignment
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <table class="table" style="background-color: #131E28; color: white;">
        <thead>
            <tr>
                <th>
                    Signal
                </th>
                <th>
                    Meaning
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text text-primary">
                    Signal 2
                </td>
                <td>
                    Meet at ___
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Signal 4
                </td>
                <td>
                    Arriving To Jail
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Signal 9
                </td>
                <td>
                    Rush - Emergency Action Desired
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Signal 10
                </td>
                <td>
                    Drugs
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Signal 11
                </td>
                <td>
                    Weapon
                </td>
            </tr>
            <tr>
                <td class="text text-warning">
                    Signal 100
                </td>
                <td>
                    Radio Silence Unless Emergency
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <table class="table" style="background-color: #131E28; color: white;">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Meaning
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text text-primary">
                    Code 0
                </td>
                <td>
                    Game Crash
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Code 1
                </td>
                <td>
                    No Lights Nor Siren
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Code 2
                </td>
                <td>
                    Lights And Siren At Intersections
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Code 3
                </td>
                <td>
                    Lights And Siren
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Code 4
                </td>
                <td>
                    Call Under Control
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Code 5
                </td>
                <td>
                    Felony Traffic Stop
                </td>
            </tr>
            <tr>
                <td class="text text-primary">
                    Code 6
                </td>
                <td>
                    Searching The Area ___
                </td>
            </tr>
            <tr>
                <td class="text text-danger">
                    Code 99
                </td>
                <td>
                    Officer In Distress
                </td>
            </tr>
        </tbody>
    </table>
</div>